*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1170px;
    margin: auto;
}
.col {
    background-color: blue;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col > span {
    color: white;
}
